<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% block title %}
    客户
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

    {#    <table>#}
    {#        {% for q in qs %}#}
    {#            <tr>#}
    {#                <td>{{ q.Zip }}</td>#}
    {#                <td>{{ q.Number }}</td>#}
    {#                <td>{{ q.Stars }}</td>#}
    {#                <td>{{ q.Operator }}</td>#}
    {#                <td>{{ q.Status }}</td>#}
    {#                <td>{{ q.Organize }}</td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#    </table>#}
    {#    <table class="table table-hover table-bordered"#}
    {#  data-toggle="table"#}
    {#  data-url={{ qs }}#}
    {#  data-pagination="true"#}
    {#  data-search="true">#}
    {#  <thead>#}
    {#    <tr>#}
    {#      <th data-sortable="true" data-field="Zip">区号</th>#}
    {#      <th data-field="Numbers">号码</th>#}
    {#      <th data-field="Stars">星级</th>#}
    {#    </tr>#}
    {#  </thead>#}
    {#</table>#}
    {#    <div class="d-none d-sm-block">#}
    {#        <table class="table table-bordered" data-toggle="table" id="example-1">#}djngo
    {#            <thead>#}
    {#            <th>#}
    {#                <input type="text" v-model="search">#}
    {#            </th>#}
    {#            </thead>#}
    {#            <thead>#}
    {#            <th>区号</th>#}
    {#            <th>号码</th>#}
    {#            <th>星级</th>#}
    {#            <th>运营商</th>#}
    {#            <th>状态</th>#}
    {#            <th>组织</th>#}
    {#            </thead>#}
    {#            <tbody>#}
    {#            <tr v-for="(num,index in items" :key="index" v-show="index <100">#}
    {#                <td>[[num.Zip]]</td>#}
    {#                <td>[[num.Numbers]]</td>#}
    {#                <td>[[num.Stars]]</td>#}
    {#                <td>[[num.Operator]]</td>#}
    {#                <td>[[num.Status]]</td>#}
    {#                <td>[[num.Organize]]</td>#}
    {#            </tr>#}
    {##}
    {#        </table>#}
    {#    </div>#}
    <div class="">

        <div class="container" id="Users-1">
            <div class="row m-auto align-items-center">
                    <input type="text" v-model="search">可直接输入号码、星级、运营商来查询所需号码
            </div>
            <div class="row">
                <div class="col-lg-3" v-for="u in items">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body text-center">
                            <h4 class="card-title text-center text-danger" >[[u.last_name]][[u.first_name]]</h4>
{#                            <p class="text-dark">[[num.Stars]]</p>#}
{#                            <p class="text-dark">[[num.Operator]]</p>#}
{#                            <p class="text-dark">[[num.Organize]]</p>#}
{#                            <h4 class="text-success">[[num.Status]]</h4>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var example1 = new Vue({
            delimiters: ['[[', ']]'],
            el: '#Users-1',
            data: {
                search: '',
                Users: {{ qs|safe }}
            },
            computed: {
                // 筛选指定字段

                items: function () {
                    let _search = this.search;
                    let reg = new RegExp(_search, 'ig');// 不区分大小写
                    if (_search) {
                        return this.Users.filter(function (item) {
                            if (item.first_name.match(reg) || item.last_name.match(reg)) {
                                return item;
                            }
                        });
                    }
                    return this.Users;
                },
            },
            ready: function () {

            },
            watch: {
                items: {
                    handler: function (val, oldval) {

                    },
                    deep: true
                }
            },

            methods: {}
        })
    </script>
{% endblock content %}