<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/static/images/Miracle-Logo.png" width="180" height="60" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/">新闻</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/price/">资费</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/number/">选号</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/park/">园区</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/download/">下载</a>
            </li>


{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                   aria-expanded="false">#}
{#                    文档#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">产品简介</a>#}
{#                    <a class="dropdown-item" href="#">宣传单页</a>#}
{#                    <a class="dropdown-item" href="#">视频展示</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Phone操作手册</a>#}
{#                    <a class="dropdown-item" href="#">PBX操作手册</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">价目表</a>#}
{#                </div>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/customer/">客户</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/partner/">合伙人</a>#}
{#            </li>#}

{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/us/">关于我们</a>#}
{#            </li>#}
        </ul>
        <form class="form-inline my-2 my-lg-0">
                <a class="nav-link  text-white-50" target="_blank" href="http://doc.miraclephone.cn">文档</a>
            <input class="form-control btn-outline-warning mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>