<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

    <h2 class="text-center">Miracle Phone价目表</h2>
    <table class="d-table table-bordered table-responsive">
        <thead>
        <th>项目</th>
{#        <th>必要性</th>#}
        <th>单价</th>
        <th>单位</th>
{#        <th>备注</th>#}
        </thead>
        <tbody>

        {% for i in qs_P %}
            <tr>
            <td>{{ i.Name }}</td>
{#            <td>{{ i.Must }}</td>#}
            <td>{{ i.Price }}</td>
            <td>{{ i.Unit }}</td>
{#            <td>{{ i.Memo }}</td>#}
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <h2 class="text-center">Miracle PBX价目表</h2>
    <table class="d-table table-bordered table-responsive">
        <thead>
        <th>项目</th>
{#        <th>必要性</th>#}
        <th>单价</th>
        <th>单位</th>
{#        <th>备注</th>#}
        </thead>
        <tbody>

        {% for i in qs_B %}
            <tr>
            <td>{{ i.Name }}</td>
{#            <td>{{ i.Must }}</td>#}
            <td>{{ i.Price }}</td>
            <td>{{ i.Unit }}</td>
{#            <td>{{ i.Memo }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <h2 class="text-center">Miracle Number价目表</h2>
    <table class="d-table table-bordered table-responsive">
        <thead>
        <th>项目</th>
{#        <th>必要性</th>#}
        <th>单价</th>
        <th>单位</th>
{#        <th>备注</th>#}
        </thead>
        <tbody>

        {% for i in qs_N %}
            <tr>
            <td>{{ i.Name }}</td>
{#            <td>{{ i.Must }}</td>#}
            <td>{{ i.Price }}</td>
            <td>{{ i.Unit }}</td>
{#            <td>{{ i.Memo }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}